header{
	position:fixed;
	background:#33b5e5;
	padding:5px;
	color:#ffffff;
	text-align: left;
	right:0;
	left:0;
	top:0;
}

body{
	margin:0;
	background-color: #bbbbbb;
        white-space: nowrap;
	overflow:auto;
}

nav{
	width: 270px;
	position: fixed;
	top: 70px;
	bottom: 10px;
	left:10px;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	direction:rtl;
}

.controlGroup{
	padding: 10px;
	margin-bottom: 7px;
	background-color:#33b5e5;
	color: #ffffff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	direction:ltr;
}

.credits{
	padding: 10px;
	color: #ffffff;
	direction:ltr;
}

.canvasDiv{
	position: fixed;
	top : 70px;
	left : 290px;
	bottom:0;
	right:0;
}

.groupTitle{
	margin:0;
	margin-bottom:5px;
	text-align:center;
	font-weight:bold;
	direction:ltr;
}

select{
	color:black;
	width:110px;
}

input{
	color:black;
	width:50px;
	text-align:right;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.cooltip{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: -5px;
  left: 105%; 

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

